.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.copy{
  position: fixed;
  bottom: 0;
  right:1%;
  font-size: 2vh;
}
.span{
  color:red;
}
.th{
  border-bottom:1px solid blue;
  border-right: 1px solid blue;
  border-left: 1px solid blue;
}
.td{
  border-right: 1px solid blue;
}
.pin{
  font-size:medium ;
  color:black;
  font-weight: 700;
  border-radius: 2vmin;
  opacity: 0.8;
}
.date{
  font-size: large;
  color:black;
  font-weight: 700;
  border-radius: 2vmin;
  opacity: 0.8;
  margin-top: 0.5vmin;
  cursor:pointer;
}
.notify{
  opacity: 0.5;
}
.submit,.notify{
  font-size: large;
  margin-top: 2vmin;
  border: 0.4vmin solid blue;
  border-radius: 4vmin;
  background-color: grey;
  color:Black;
  font-weight: 800;
  cursor:pointer;
  transition: transform 0.2s;
}
.submit:hover,.notify:hover{
  transform: scale(1.2);
}
.form {
  background-image: url(./bg.png);
  background-size: cover;
  opacity: 0.5;
  max-width: fit-content;
  min-height: 50vmin;
  border-radius: 3vmin;
  border: 0.5vmin dotted steelblue;
  box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.2),0 0.5vw 1.5vw 0 rgba(0,0,0,0.19);
}
.heading{
  margin: 2vmin;
  padding: 5vmin;
  width: 25vmin;
  border: 1vmin double black;
  border-radius: 3vmin;
  font-size: 4vmin;
  font-weight: 900;
  text-shadow: steelblue 2px 2px;
}

.popup{
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(250,250,250,0.9);
}
.pop-up-open{
  background-color: rgba(200,200,250,0.3);
	margin: 8% auto;
	padding: 1.5vw;
	border: 1vw double #888;
  border-radius: 2vw;
	width: fit-content;
  box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.2),0 0.5vw 1.5vw 0 rgba(0,0,0,0.19);
  -webkit-animation: animatezoom 1s;
  animation: animatezoom 1s
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}